.footer{
  position: fixed;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #969696;
  text-transform: uppercase;
  height: 32px;
  width: 100%;
  text-align: center;
  margin-top: 45%;
  background-color: red;
}